# Android/Gradle artifacts
/.gradle/
/.gradle-local/
/.gradle-offline/
/.gradle-run/
/.gradle-run2/
/.gradle-run3/
/.temp-build-run/
/android-tmp/
/tmp/
/build/
/app/build/
/local.properties
/.idea/
/.cxx/
/remote-active/
/remote-clone/
/temp_remote_pull/
/temp_remote_pull2/
/workfix/
*.iml
*.apk
*.ap_
*.aab
/captures/

# Misc IDE files
*.swp
*.swo
*~
