# Android/Gradle artifacts
/.gradle/
/.gradle-local/
/.gradle-offline/
/.gradle-run/
/.gradle-run2/
/.gradle-run3/
/.gradle-test/
/.gradle-work/
/.temp-build-run/
/android-tmp/
/tmp/
/tmp-gradle/
/tmp-gradle2/
/.gradle*/
/tmp-gradle*/
/.gradle*
/build/
/app/build/
/local.properties
/res/
/Res/
/app/src/main/res_live/
/app/src/main/res/drawable/cyxwatch_logo.png
/__tmp_html/
/gradle-cache2/
/.idea/
/.cxx/
/remote-active/
/remote-clone/
/temp_remote_pull/
/temp_remote_pull2/
/workfix/
*.iml
*.apk
*.ap_
*.aab
/captures/

# Misc IDE files
*.swp
*.swo
*~
